# Ignorar node_modules
/node_modules/

# Ignorar los archivos de entorno de desarrollo (como los de VS Code)
.vscode/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el archivo .env que contiene claves y configuraciones sensibles
.env

# Ignorar archivos de logs
*.log

# Ignorar archivos de dependencia generados por paquetes
package-lock.json

# Ignorar directorios de dependencias de paquetes globales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de dependencias que son temporales y no deberían ser versionados
*.tgz

# Archivos generados por el sistema operativo
.vscode/
.idea/
