# Ignorar la carpeta node_modules y todos sus contenidos
/node_modules/

# Ignorar package-lock.json (si no deseas versionarlo)
package-lock.json

# Ignorar archivos de entorno de desarrollo (como los de VS Code)
.vscode/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el archivo .env que contiene claves y configuraciones sensibles
.env

# Ignorar archivos de logs
*.log

# Archivos de dependencias generadas por paquetes
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales generados por los paquetes
*.tgz

# Ignorar configuraciones de editores y sistemas de desarrollo
.idea/
.vscode/

# Ignorar las carpetas de pruebas generadas automáticamente por algunas librerías o herramientas
test/
coverage/
